body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 100px;
  left: 500px;
   border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.bodyArea{
  width: 500px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.editor-field{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 500px;
}

.comment-editor{
  margin-right: 5px;
}


.posts-list div {
  width: 800px;
}
 
.posts-list h3 {
  font: 300 30px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
.posts-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.posts-list li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.posts-list li:last-child {
  border: none;
}
 
.posts-list li a {
  text-decoration: none;
  color: #000;
  display: block;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.posts-list li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.post-detail {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 10px 10px 10px 10px;
  border: 1px solid rgb(145, 7, 7);
  padding: 20px;
  width: 800px;
  background: rgb(228, 160, 160);
  box-shadow: inset 0px 0px 15px #FFE5E5;
  -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
  -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}